#objectDetailFooter{
    margin: 5px 10px;
}
.search-bar {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
}

.search-bar .row {
    margin-bottom: 0px;
}

input#searchField {
    margin-bottom: 0px;
    width: 100%;
    padding: 0px;
    font-size: 1.2em;
}
#searchBtn{
    position: absolute;
    right: -1px;
    top: 4px;
}
#mapviewHeader{
    background: transparent;
    position: absolute;
    z-index: 100;
    width: 100%;
}
div#substationContainer {
    margin-top: 5px;
}
.substation-select-label {
    text-align: right;
    color: #fff;
    font-size: 2vw;
}
.map-overlay{
    top: 0px;
    left: 0px;
    z-index: 100;
}
body{
    font-size: 1.2em;
}
a.btn {
    height: 3.5vh;
    line-height: 3.5vh;
}
div#motorDiagram, .container, .motor-diagram-container{
    height: 100%;
}
#objectDetailFooter{
    margin: 5px 10px;
}
.row {
    margin: 0px;
}
.map-overlay{
    top:0;
    left: 0;
}
#mapSwitchBtn{
    margin-top:5px;
}
.motor-feature-title {
    font-size: 1.2em;
}
.object-title {
    font-size: 1.5em !important;
}

div#detailContainer {
    font-size: 3vw !important;
}

.object-row {
    font-size: 1em;
}

span.object-attribute {
    font-size: 1em;
}

div#featureDetailModal {
    width: 80%;
}

#objectDetailFooter a {
    font-size: 3vw;
}
.object-row .btn-full{
    margin-top:5px;
}
div#featureDetailModal .chat-close-btn{
    padding: 2px 10px;
}
