      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        z-index:0;
      }
.logo{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    white-space: nowrap;
    padding-left: 10px;
}

.login-form{
    margin: 0 auto;
    float: none !important;
    margin-top:100px !important;
}

.login-form form{
    margin-top:40px;
}

.login-btn-container{
    overflow: hidden;
}
.login-btn{
        float: right;
}

.main-container {
    max-width: 760px;
    margin: 0 auto;
    margin-top: 100px;
}
.main-container-full{
    width:90%;
    margin:0 auto;
    margin-top: 100px;
}
.btn-full{
    width: 100%;
    margin-bottom:5px;
    text-align: center;
}
.btn-half{
    width: 49%;
    margin-bottom:5px;
    text-align: center;
    font-size: 12px;
}
.create-panel {
    position: absolute;
    z-index: 100;
    width: 20%;
    max-width: 300px;
    right: 10px;
}

nav.main-breadcrumb {
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    /* font-size: 10px; */
    position: relative;
}
.main-breadcrumb .breadcrumb{
    font-size: 14px;
}

.error-msg {
    float: left;
    background: #ef5350;
    padding: 7px 45px;
    margin: 0px;
    border-radius: 2px;
    color: #ffffff;
    display: none;
}

#legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }
      .legend-icon {
        display: inline-block;
      }

    .legend-name {
        display: inline-block;
        margin-left: 10px;
        font-size: 13px;
    }
    .legend-row{
        margin-bottom:10px;
    }
    div#objectDetail {
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: 275px;
    }
    .object-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.object-row {
    display: block;
    margin-bottom: 0px;
    color: #6b6868;
    font-size: 14px;
}

.object-attribute {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right:5px;
    color: #000;
}

.object-value {
    display: inline-block;
    font-size: 14px;
    color: #6b6868;
}
div#objectDetailFooter {
    margin-top: 20px;
}
.chat-close-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
    height: auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
}

.input-field {
    margin-top: 0px;
}

.create-panel .row {
    margin-bottom: 0px;
}

a#measureDistance {
    position: absolute;
    top: 165px;
    left: 15px;
    font-size: 12px;
    height: 32px;
    line-height: 33px;
    width: 220px;
    z-index: 0;
}

div#measureDistanceDisplay {
    position: absolute;
    color: #fff;
    float: right;
    right: 20px;
    top: 0px;
    font-size: 13px;
    display: none;
}
.search-bar {
    position: absolute;
    top: 105px;
    left: 15px;
    display: none;
    /* background: #fff; */
}

input#searchField {
    background: #fff;
    padding: 0px 10px;
    text-align: center;
    width: 160px;
}
a#searchBtn {
    padding: 5px 10px;
    height: 46px;
        z-index: 0;
}
.k-button{
    text-decoration: none !important;
    color: #fff !important;
    background-color: #26a69a !important;
    text-align: center !important;
    letter-spacing: .5px !important;
    transition: .2s ease-out !important;
    cursor: pointer !important;
    border: none !important;
    border-radius: 2px !important;
    display: inline-block !important;
    height: 36px !important;
    line-height: 36px !important;
    outline: 0 !important;
    padding: 0 2rem !important;
    text-transform: uppercase !important;
    vertical-align: middle !important;
    -webkit-tap-highlight-color: transparent !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    font-size: 12px !important;
    margin-right:5px !important;
}
.k-button:hover{
    background-color: #2bbbad !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
}
#grid table{
    width:100% !important;
}
#grid table tr{
    cursor: pointer;
}
.map-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 10;
}
.motor-map-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.6);
    z-index: 10;
    top: 0px;
    left: 0px;
}
#motorModal #motorMap{
    min-width: 500px;
    min-height: 500px; 
}
.map-preloader{
    position: absolute;
    left: 49%;
    top: 45%;
}
.review-image {
    width: 100%;
}
.image-rotate-90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.image-rotate-180{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.image-rotate-270{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
#pictureContainer{
    width:700px;
    height:700px;
    margin: 0 auto;
    position: relative;
}

#pictureContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#motorDiagramContainer{
    height: 400px;
    width: 75%;
    float: left;
}

div#featureDetail {
    width: 25%;
    overflow-wrap: break-word;
    background: white;
    padding: 20px;
    height:100%;
    display: none; 
    margin:0px !important;
    float: left;
}

#fieldGridOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 100;
    display: none;
}
.field-input-card {
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 45px;
}
div#fieldListModal {
    min-height: 400px;
}
.k-grid-content-locked{
    height:auto !important;
}

.motor-feature-title {
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

#qrCode{
    margin: 0 auto;
    float: none;
}
#qrCodeLink{
    display: none;
}
.btn-link{
    line-height: 2.5vh !important;
    height: 2.5vh !important;
    font-size: 1vh;
}